
  .footer {
    background-color: #2D343C;
    padding: 72px 0 51px ;
    font-size: 14px;
    letter-spacing: 0.05rem;
  }

  .footer__grid {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 30px;
  }

  .footer__nav-list {
    display: grid;
    gap: 15px;
  }

  .footer__socials {
    display: flex;
    column-gap: 22px;
    align-items: center;
  }

  .footer__address {
    display: grid;
    gap: 20px;

  }




